@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  transition: padding-left 0.5s;
}

header {
  z-index: 10;
  position: fixed;
  background-color: #fff;
  padding: 5px;
  width: 100%;
  height: 77px;
  box-shadow: 0px 0px 30px 0px #118d3b26;
}

.esquerda {
  color: black;
  margin-left: 0;
  width: 183.09px;
  height: 61px;
  background-color: #ebf8ef;
  padding: 5px 25px 5px 15px;
  gap: 13px;
  border-radius: 8px;
  opacity: 0px;
}

.esquerda span {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
}

.esquerda span:last-child {
  font-size: 12px;
  line-height: 18px;
}

#user {
  display: flex;
  gap: 8px;
}

#userAvatar {
  position: absolute;
  left: 17px;
  top: 17px;
  align-self: center;
}

#img {
  position: absolute;
  width: 51px;
  height: 51px;
  border-radius: 100%;
  background-color: #f0f0f0;
}

#infoUser {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 86px;
  align-self: center;
  top: 15px;
}

#notificacao {
  position: absolute;
  top: 28px;
  width: 19.1px;
  height: 21.1px;
  right: 160px;
  gap: 10px;
  opacity: 0px;
  display: flex;
}

#logo {
  position: absolute;
  top: 25px;
  float: right;
  right: 20px;
}

#logo img {
  width: 120px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 57px;
  height: 100vh;
  background-color: #39a048;
  padding: 15px;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  transition: width 0.5s;
  min-width: 82px;
  overflow: hidden;
}

#sidebar:hover {
  width: 257px;
}

#sidebar-content {
  padding-top: 70px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 0px;
  list-style: none;
}

.side-item {
  padding: 0;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 40px;
  margin-bottom: 10px;
}

.side-item:hover {
  background-color: #1bba47;
}

.side-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  height: 100%;
  padding: 0 10px;
  border-radius: 20px;
  width: 100%;
}

.side-item img {
  margin-right: 10px;
}

.item-description {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, color 0.3s;
}

#sidebar:hover .item-description {
  opacity: 1;
  visibility: visible;
}

#logout {
  border-top: 1px solid #39a048;
}

#logout-btn {
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  padding: 0;
  transition: background-color 0.3s, transform 0.3s;
  width: 237px;
  height: 40px;
}

#logout-btn img {
  margin-left: 5px;
}

#logout-btn:hover {
  background-color: #e9001c;
}
#sidebar:hover + main {
  padding-left: 257px;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: padding-left 0.5s;
}

.container {
  margin-top: 120px;
  width: 997px;
  align-items: center;
}

.top-main {
  display: flex;
  justify-content: space-between;
}

.form {
  height: 47px;
  width: 490px;
  position: relative;
}

.form input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8px;
  border: 1.5px solid #9f9f9f;
  outline: none;
  padding: 0 10px;
  font-size: 12px;
  padding-left: 15px;
}

.form input:active,
.form input:focus {
  border-color: #1bba47;
}

.form label {
  position: absolute;
  top: -8px;
  left: 15px;
  text-transform: capitalize;
  font-size: 12px;
  background-color: #fff;
  color: #9f9f9f;
  padding: 0 5px;
  font-weight: 600;
}

.form {
  height: 47px;
  width: 490px;
  position: relative;
}

.form input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8px;
  border: 1.5px solid #9f9f9f;
  outline: none;
  padding: 0 10px;
  font-size: 12px;
  padding-left: 15px;
}

.form input:active,
.form input:focus {
  border-color: #1bba47;
}

.form label {
  position: absolute;
  top: -8px;
  left: 15px;
  text-transform: capitalize;
  font-size: 12px;
  background-color: #fff;
  color: #9f9f9f;
  padding: 0 5px;
  font-weight: 600;
}

.form input:focus + .label,
.form input:active + .label {
  color: #1bba47;
}

.pesquisar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

#adicionar {
  width: 47px;
  height: 47px;
  border-radius: 8px;
  color: #fff;
  background-color: #2f9e41;
  font-size: 35px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.disciplinas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 997px;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 20px);
  border: 1.5px solid #9f9f9f;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 65%;
}
.card .texto {
  flex-grow: 1;
  padding-left: 10px;
}

.card .elementos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card span {
  font-size: 16px;
  font-weight: 600;
}

.card .editar {
  border: none;
  background-color: transparent;
}

.card p {
  font-size: 12px;
  color: #afafaf;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #1bba47;
}

dialog::backdrop {
  background-color: rgba(24, 23, 23, 0.288);
  display: flex;
  justify-content: center;
  align-items: center;
}

dialog {
  border: 1.5px solid #9f9f9f;
  border-radius: 8px;
  width: 30%;
  height: 80%;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 0px 33.5px 0px #050f071a;
  padding: 10px;
  overflow-y: auto;  
}

dialog h1 {
  margin: 0px;
  padding: 10px 0;
  font-size: 24px;
  text-align: center;
}

#picture_input {
  display: none;
}

.picture {
  width: 87.61%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #9f9f9f;
  border-radius: 8px;
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 10.13px;
  font-weight: 600;
  line-height: 15.19px;
  letter-spacing: 0.075em;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  flex-direction: column;
  margin-bottom: 15px;
}

.picture img{
  margin-bottom: 10px;
}

.picture:hover {
  background-color: #EAEAEA;
  color: black;
}
.inputs {
  overflow-y: auto;  
  flex-wrap: wrap;
  width: 87.61%;
  height: 87.61%;
  justify-content: space-between;
}

.inserir {
  height: 10%;
  width: 87.61%;
  position: relative;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}

.inserir input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8px;
  border: 1.5px solid #9f9f9f;
  outline: none;
  padding: 0 10px;
  font-size: 12px;
  padding-left: 15px;
}

.inserir input:active,
.inserir input:focus {
  border-color: #1bba47;
}

.inserir label {
  position: absolute;
  top: -8px;
  left: 15px;
  text-transform: capitalize;
  font-size: 12px;
  background-color: #fff;
  color: #9f9f9f;
  padding: 0 5px;
  font-weight: 600;
}

.inserir input:focus + .label,
.inserir input:active + .label {
  color: #1bba47;
}
.botoes{
  display: flex;
  justify-content: space-between;
}

.botoes button{
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.botoes img{
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
